In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
avg_time1=(215+169+164)/3
print("model1_avg=",int(avg_time1/60),":",int(avg_time1%60))

avg_time2=(214+106+101)/3
print("model2_avg=",int(avg_time2/60),":",int(avg_time2%60))

avg_time3=(2257+1933+1927)/3
print("model3_avg=",int(avg_time3/60),":",int(avg_time3%60))

model1_avg= 3 : 2
model2_avg= 2 : 20
model3_avg= 33 : 59

In [18]:

df = pd.DataFrame(index=['ssd_resent50', 'ssd_mobilenet', 'faster_rcnn'], 
data={'dog_time(sec)':[215, 214, 2257], 'dog_images(correct)':[26, 21, 30], 'dog_images(wrong)':[2, 8, 1],
      'car_time(sec)':[169, 106, 1933], 'car_images(correct)':[63, 58, 89], 'car_images(wrong)':[2, 3, 3],
      'person,bus_time(sec)':[164, 101, 1927], 'person,bus_images(correct)':[10, 8, 23], 'person,bus_images(wrong)':[1, 0, 2],
      'avg_time(sec)':[avg_time1, avg_time2, avg_time3], 'over_all_images':[104, 98, 148],'over_all_accuarcy':[0.95, 0.88, 0.95]})

In [19]:
df

,dog_time(sec),dog_images(correct),dog_images(wrong),car_time(sec),car_images(correct),car_images(wrong),"person,bus_time(sec)","person,bus_images(correct)","person,bus_images(wrong)",avg_time(sec),over_all_images,over_all_accuarcy
ssd_resent50,215,26,2,169,63,2,164,10,1,182.666667,104,0.95
ssd_mobilenet,214,21,8,106,58,3,101,8,0,140.333333,98,0.88
faster_rcnn,2257,30,1,1933,89,3,1927,23,2,2039.000000,148,0.95